body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 110%;
    font-family: 'Open Sans', sans-serif;
    background-color: #222;
    background-image: url('https://source.unsplash.com/1600x900/?lanscape');
}

.card{
    background-color: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    max-width: 420px;
    width: 100%;
    margin: 1em;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

input.search-bar{
    height: 35px;
    width: 80%;
    padding: 2px 20px;
    margin: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #7c7c7c2b;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    transition: 0.2s ease-in-out;
}

button{
    background-color: white;
    border-radius: 20px;
    height: 40px;
    width: 43px;
    border: none;
    outline: none;
    background-color: #7c7c7c2b;
    color: white;
    transition: 0.2s ease-in-out;
}

button:hover{
    background: #7c7c7c7b;
}

input.search-bar:hover{
    background: #7c7c7c7b;
}

.temp{
    margin: 0;
    font-size: 2rem;
    margin-bottom: 5px;
}

.description{
    text-transform: capitalize;
}

.icon-desc{
    display: flex;
    align-items: center;
}

.humidity{
    margin: 10px 0;
}

.weather .loading{
    visibility: hidden;
}